<dl>
  {{#each modifiers}}
  <dt>
    No List<br />
    <small>
      <code>c-nav</code>
      <code>c-nav--no-list</code>
      {{#each this}}<code>c-nav--{{.}}</code>{{/each}}
    </small>
  </dt>
  <dd>
    <nav class="c-nav c-nav--no-list{{#each this}} c-nav--{{.}}{{/each}}">
    {{> @link-list links=../links }}
    </nav>
    {{#if ../show_buttons }}
    {{#unless (has this "boxed")}}
    <nav class="c-nav c-nav--no-list{{#each this}} c-nav--{{.}}{{/each}}">
    {{> @button-list buttons=../links }}
    </nav>
    <nav class="c-nav c-nav--no-list{{#each this}} c-nav--{{.}}{{/each}}">
    {{> @button-list buttons=../links as-links=true }}
    </nav>
    {{/unless}}
    {{/if}}
  </dd>
  {{/each}}
</dl>
