<dl>
  <dt>Spinner</dt>
  <dd>
    <span class="spinner-border" aria-hidden="true"></span>
  </dd>
  <dt>Spinner in Bootstrap Button</dt>
  <dd>
    <button class="btn btn-primary" type="button" disabled>
      <span>Login</span>
      <span class="visually-hidden" role="status">Loading...</span>
      <span class="spinner-border" aria-hidden="true"></span>
    </button>
  </dd>
  <dt>Spinner in a TACC Button</dt>
  <dd>
    <button class="c-button c-button--primary c-button--is-busy" type="button" disabled>
      <span>Login</span>
      <span class="u-hide--visually" role="status">Loading...</span>
      <span class="spinner-border" aria-hidden="true"></span>
    </button>
  </dd>
</dl>
