<dl>

  <dt>Images</dt>
  <dd>
    {{> @img class="align-right" }}
    <p>{{> @text-of-one-paragraph-short }}</p>
    {{> @img class="align-left" }}
    <p>{{> @text-of-one-paragraph-medium }}</p>
    <p>{{> @text-of-one-paragraph-short }}</p>
    <p>{{> @text-of-one-paragraph-long }}</p>
    {{> @img class="align-center" }}
    <p>{{> @text-of-one-paragraph-medium }}</p>
  </dd>

  <dt>Figures</dt>
  <dd>
    {{> @figure class="align-right" }}
    <p>{{> @text-of-one-paragraph-short }}</p>
    {{> @figure class="align-left" }}
    <p>{{> @text-of-one-paragraph-medium }}</p>
    <p>{{> @text-of-one-paragraph-short }}</p>
    <p>{{> @text-of-one-paragraph-long }}</p>
    {{> @figure class="align-center" }}
    <p>{{> @text-of-one-paragraph-medium }}</p>
  </dd>

  <dt>Figure Blockquotes<br />
    <small>i.e. <code>&lt;figure class="s-blockquote"&gt;</code></small></dt>
  <dd>
    {{> @s-blockquote class="align-right" }}
    <p>{{> @text-of-one-paragraph-short }}</p>
    {{> @s-blockquote class="align-left" }}
    <p>{{> @text-of-one-paragraph-medium }}</p>
    <p>{{> @text-of-one-paragraph-short }}</p>
    <p>{{> @text-of-one-paragraph-long }}</p>
    {{> @s-blockquote class="align-center" }}
    <p>{{> @text-of-one-paragraph-medium }}</p>
  </dd>

  <dt>Blockquotes</dt>
  <dd>
    {{> @blockquote class="align-right" }}
    <p>{{> @text-of-one-paragraph-short }}</p>
    {{> @blockquote class="align-left" }}
    <p>{{> @text-of-one-paragraph-medium }}</p>
    <p>{{> @text-of-one-paragraph-short }}</p>
    <p>{{> @text-of-one-paragraph-long }}</p>
    {{> @blockquote class="align-center" }}
    <p>{{> @text-of-one-paragraph-medium }}</p>
  </dd>
</dl>
