@import url("./x-drop-cap.postcss");

/* FAQ: Wrapped to deter clients from using `.x-message` */
/* HACK: Not in `x-message/demo.css` because it is not processed */
#demo {
  .x-drop-cap::first-letter {
    @mixin drop-cap;
  }
}
