# Node
node_modules

# PostCSS
.postcssrc.yml

# Core-Styles
dist

# Fractal
demo
## Files used directly by demo but not clients, yet provided via dist
dist/_utils
## Empty file touched after auto-rebuild to trigger server live-refresh */
fractal.server.refresh.css

# IDE
.vscode

# OS
.DS_Store
._*
Thumbs.db
