<dl>
  <dt>Via (<code>-webkit</code>)<code>initial-letter</code></dt>
  <dd><p class="x-drop-cap">The first letter of this sentence will be a drop-cap on modern updated browsers. {{> @text-of-one-paragraph-short }}</p></dd>
</dl>
