:scope {
  --color-gray-light-2x: #ffffff;
  --color-gray-light-x: #f4f4f4;
  --color-gray-light: #d7d7d7;
  --color-gray-normal: #afafaf;
  --color-gray-dark: #707070;
  --color-gray-x-dark: #484848;
  --color-gray-xx-dark: #222222;
  --color-gray-xxx-dark: #000000;
  --color-gray-weak: #afafaf;
  --color-accent-1-light-max: #faf4ff;
  --color-accent-1-light-3x: #f1ebfd;
  --color-accent-1-light-2x: #e3d7fd;
  --color-accent-1-light-x: #d5bfff;
  --color-accent-1-light: #a387ed;
  --color-accent-1-normal: #784fe8;
  --color-accent-1-dark: #6039cc;
  --color-accent-1-dark-x: #3d189b;
  --color-accent-1-dark-2x: #281066;
  --color-accent-1-dark-3x: #1e0c4c;
  --color-accent-2-light-2x: #fcf6ec;
  --color-accent-2-light-x: #e5d7c0;
  --color-accent-2-light: #d5b57c;
  --color-accent-2-normal: #877453;
  --color-accent-2-dark: #514328;
  --color-accent-2-dark-x: #332c1f;
  --color-accent-3-light-2x: #e7f1f0;
  --color-accent-3-light-x: #b1d1ce;
  --color-accent-3-light: #92ccc5;
  --color-accent-3-normal: #61a39c;
  --color-accent-3-dark: #406d68;
  --color-accent-3-dark-x: #1e3331;
  --color-traffic-red-light-x: #fdf1f1;
  --color-traffic-red-light: #f8c9c9;
  --color-traffic-red-normal: #f09393;
  --color-traffic-red-dark: #af1818;
  --color-traffic-red-dark-x: #3c3030;
  --color-traffic-red-weak: #f09393;
  --color-traffic-yellow-light-x: #fdfdea;
  --color-traffic-yellow-light: #f2f06f;
  --color-traffic-yellow-normal: #e9e000;
  --color-traffic-yellow-dark: #735911;
  --color-traffic-yellow-dark-x: #3a3320;
  --color-traffic-yellow-weak: #dfa70c;
  --color-traffic-green-light-x: #e7f9e5;
  --color-traffic-green-light: #afeca7;
  --color-traffic-green-normal: #43d130;
  --color-traffic-green-dark: #237119;
  --color-traffic-green-dark-x: #263824;
  --color-traffic-green-weak: #43d130;
  --color-traffic-blue-light-x: #f0f6ff;
  --color-traffic-blue-light: #b4d0f9;
  --color-traffic-blue-normal: #3f85f4;
  --color-traffic-blue-dark: #255bb1;
  --color-traffic-blue-dark-x: #174a99;
  --color-traffic-blue-weak: #3f85f4;
  --spacing-fourth: 0.125rem;
  --spacing-half: 0.25rem;
  --spacing-1: 0.5rem;
  --spacing-2: 1rem;
  --spacing-3: 1.5rem;
  --spacing-4: 2rem;
  --spacing-5: 2.5rem;
  --spacing-6: 3rem;
  --spacing-7: 3.5rem;
  --spacing-8: 4rem;
  --spacing-9: 4.5rem;
  --spacing-10: 5rem;
  --spacing-11: 5.5rem;
  --spacing-12: 6rem;
  --spacing-13: 6.5rem;
  /* XXX: Inaccurate */
  /*
  --font-weight-100: 6.25rem;
  --font-weight-200: 12.5rem;
  --font-weight-300: 18.75rem;
  --font-weight-400: 25rem;
  --font-weight-500: 31.25rem;
  --font-weight-600: 37.5rem;
  --font-weight-700: 43.75rem;
  --font-weight-800: 50rem;
  --font-weight-900: 56.25rem;
  */
}
