:scope {
  --color-gray-light-2x: #ffffff;
  --color-gray-light-x: #f4f4f4;
  --color-gray-light: #d7d7d7;
  --color-gray-normal: #afafaf;
  --color-gray-dark: #707070;
  --color-gray-x-dark: #484848;
  --color-gray-xx-dark: #222222;
  --color-gray-xxx-dark: #000000;
  --color-gray-weak: #afafaf;
  --color-accent-1-light-max: #f3f7fe;
  --color-accent-1-light-3x: #dfeafe;
  --color-accent-1-light-2x: #caddfe;
  --color-accent-1-light-x: #aac7ff;
  --color-accent-1-light: #86aeff;
  --color-accent-1-normal: #003399;
  --color-accent-1-dark: #002266;
  --color-accent-1-dark-x: #001133;
  --color-accent-1-dark-2x: #021230;
  --color-accent-1-dark-3x: #000a22;
  --color-accent-2-light-2x: #fcf6ec;
  --color-accent-2-light-x: #e5d7c0;
  --color-accent-2-light: #d5b57c;
  --color-accent-2-normal: #877453;
  --color-accent-2-dark: #514328;
  --color-accent-2-dark-x: #332c1f;
  --color-accent-3-light-2x: #e7f1f0;
  --color-accent-3-light-x: #b1d1ce;
  --color-accent-3-light: #92ccc5;
  --color-accent-3-normal: #61a39c;
  --color-accent-3-dark: #406d68;
  --color-accent-3-dark-x: #1e3331;
  --color-traffic-red-light-x: #fce4db;
  --color-traffic-red-light: #fcaf91;
  --color-traffic-red-normal: #ed4c11;
  --color-traffic-red-dark: #c23a03;
  --color-traffic-red-dark-x: #932b06;
  --color-traffic-red-weak: #ed4c11;
  --color-traffic-yellow-light-x: #fdf0d3;
  --color-traffic-yellow-light: #fed880;
  --color-traffic-yellow-normal: #f2b327;
  --color-traffic-yellow-dark: #cd971c;
  --color-traffic-yellow-dark-x: #996f0a;
  --color-traffic-yellow-weak: #f2b327;
  --color-traffic-green-light-x: #baf8dc;
  --color-traffic-green-light: #93f6cd;
  --color-traffic-green-normal: #10f7a9;
  --color-traffic-green-dark: #3dce92;
  --color-traffic-green-dark-x: #26885f;
  --color-traffic-green-weak: #10f7a9;
  --color-traffic-blue-light-x: #f0f6ff;
  --color-traffic-blue-light: #b4d0f9;
  --color-traffic-blue-normal: #3f85f4;
  --color-traffic-blue-dark: #255bb1;
  --color-traffic-blue-dark-x: #174a99;
  --color-traffic-blue-weak: #3f85f4;
  --spacing-fourth: 0.125rem;
  --spacing-half: 0.25rem;
  --spacing-1: 0.5rem;
  --spacing-2: 1rem;
  --spacing-3: 1.5rem;
  --spacing-4: 2rem;
  --spacing-5: 2.5rem;
  --spacing-6: 3rem;
  --spacing-7: 3.5rem;
  --spacing-8: 4rem;
  --spacing-9: 4.5rem;
  --spacing-10: 5rem;
  --spacing-11: 5.5rem;
  --spacing-12: 6rem;
  --spacing-13: 6.5rem;
  /* XXX: Inaccurate */
  /*
  --font-weight-100: 6.25rem;
  --font-weight-200: 12.5rem;
  --font-weight-300: 18.75rem;
  --font-weight-400: 25rem;
  --font-weight-500: 31.25rem;
  --font-weight-600: 37.5rem;
  --font-weight-700: 43.75rem;
  --font-weight-800: 50rem;
  --font-weight-900: 56.25rem;
  */
}
