:scope {
  --color-gray-light-2x: #ffffff;
  --color-gray-light-x: #f4f4f4;
  --color-gray-light: #d7d7d7;
  --color-gray-normal: #afafaf;
  --color-gray-dark: #707070;
  --color-gray-x-dark: #484848;
  --color-gray-xx-dark: #222222;
  --color-gray-xxx-dark: #000000;
  --color-gray-weak: #afafaf;
  --color-accent-1-light-max: #eef9fc;
  --color-accent-1-light-3x: #cfecf7;
  --color-accent-1-light-2x: #b5e3f9;
  --color-accent-1-light-x: #83cefa;
  --color-accent-1-light: #56ace7;
  --color-accent-1-normal: #337ab7;
  --color-accent-1-dark: #286090;
  --color-accent-1-dark-x: #204d74;
  --color-accent-1-dark-2x: #122b40;
  --color-accent-1-dark-3x: #0c1b29;
  --color-accent-2-light-2x: #cdf9f4;
  --color-accent-2-light-x: #a5e4dd;
  --color-accent-2-light: #84cec6;
  --color-accent-2-normal: #58a19b;
  --color-accent-2-dark: #37817b;
  --color-accent-2-dark-x: #2d4f4c;
  --color-accent-3-light-2x: #ece4bf;
  --color-accent-3-light-x: #e7d897;
  --color-accent-3-light: #d4c16f;
  --color-accent-3-normal: #a89a5b;
  --color-accent-3-dark: #807649;
  --color-accent-3-dark-x: #554f32;
  --color-traffic-red-light-x: #fce4db;
  --color-traffic-red-light: #fcaf91;
  --color-traffic-red-normal: #ed4c11;
  --color-traffic-red-dark: #c23a03;
  --color-traffic-red-dark-x: #932b06;
  --color-traffic-red-weak: #ed4c11;
  --color-traffic-yellow-light-x: #ece4bf;
  --color-traffic-yellow-light: #e7d897;
  --color-traffic-yellow-normal: #c1ae5c;
  --color-traffic-yellow-dark: #807649;
  --color-traffic-yellow-dark-x: #554f32;
  --color-traffic-yellow-weak: #c1ae5c;
  --color-traffic-green-light-x: #addba3;
  --color-traffic-green-light: #74b566;
  --color-traffic-green-normal: #449d44;
  --color-traffic-green-dark: #398439;
  --color-traffic-green-dark-x: #255625;
  --color-traffic-green-weak: #449d44;
  --color-traffic-blue-light-x: #f0f6ff;
  --color-traffic-blue-light: #b4d0f9;
  --color-traffic-blue-normal: #3f85f4;
  --color-traffic-blue-dark: #255bb1;
  --color-traffic-blue-dark-x: #174a99;
  --color-traffic-blue-weak: #3f85f4;
  --spacing-fourth: 0.125rem;
  --spacing-half: 0.25rem;
  --spacing-1: 0.5rem;
  --spacing-2: 1rem;
  --spacing-3: 1.5rem;
  --spacing-4: 2rem;
  --spacing-5: 2.5rem;
  --spacing-6: 3rem;
  --spacing-7: 3.5rem;
  --spacing-8: 4rem;
  --spacing-9: 4.5rem;
  --spacing-10: 5rem;
  --spacing-11: 5.5rem;
  --spacing-12: 6rem;
  --spacing-13: 6.5rem;
  /* XXX: Inaccurate */
  /*
  --font-weight-100: 6.25rem;
  --font-weight-200: 12.5rem;
  --font-weight-300: 18.75rem;
  --font-weight-400: 25rem;
  --font-weight-500: 31.25rem;
  --font-weight-600: 37.5rem;
  --font-weight-700: 43.75rem;
  --font-weight-800: 50rem;
  --font-weight-900: 56.25rem;
  */
}
