<dl>
  <dt>Styled Scrollbars</dt>
  <dd class="s-scrollbars">
    <div>
      {{> @table data=data }}
    </div>
  </dd>
</dl>
<dl>
  <dt>Default Scrollbars</dt>
  <dd>
    <div>
      {{> @table data=data }}
    </div>
  </dd>
</dl>
