<h2>Fake Table</h2>

{{> @s-paragraph-table class="s-paragraph-table" data=data }}

<br />
<br />

<h2>Real Table</h2>

<table class="{{#if class }}{{ class }}{{/if}}">
  <tbody>
  {{#each data.rows}}
    <tr>
      {{#if paragraph}}
      <td title="{{> @text-of-one-paragraph-short }}">
        <p>{{> @text-of-one-paragraph-short }}</p>
      </td>
      {{/if}}
    </tr>
  {{/each}}
  </tbody>
</table>
