<link rel="stylesheet" href="{{path '/elements/links.css'}}" />
<link rel="stylesheet" href="{{path '/components/c-button.css'}}" />

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Size</th>
      <th>Time</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>apple-sauce</th>
      <td>0.5 KB</td>
      <td><time>12/01/2019 11:04:19</time></td>
      <td>
        <ul>
          <li><a href="#">View Details</a></li>
          <li><button href="#" class="c-button c-button--as-link">Delete</button></li>
        </ul>
      </td>
    </tr>
    <tr>
      <th>milk-shake-032</th>
      <td>300.0 KB</td>
      <td><time>03/22/2021 05:23:01</time></td>
      <td>
        <ul>
          <li><a href="#">View Details</a></li>
          <li><button href="#" class="c-button c-button--as-link">Delete</button></li>
        </ul>
      </td>
    </tr>
    <tr>
      <th>white-candy-5</th>
      <td>1.5 MB</td>
      <td><time>07/12/2022 07:34:53</time></td>
      <td>
        <ul>
          <li><a href="#">View Details</a></li>
          <li><button href="#" class="c-button c-button--as-link">Delete</button></li>
        </ul>
      </td>
    </tr>
  </tbody>
</table>
