<h2>Fake Table</h2>

<div class="paragraph-table {{#if class }}{{ class }}{{/if}}">
{{#each data.rows}}
  {{#if paragraph}}
  <p>{{> @text-of-one-paragraph-short }}</p>
  {{/if}}
{{/each}}
</div>

<h2>Real Table</h2>

<table class="{{#if class }}{{ class }}{{/if}}">
  <tbody>
  {{#each data.rows}}
    <tr>
      {{#if paragraph}}
      <td title="{{> @text-of-one-paragraph-short }}">
        <p>{{> @text-of-one-paragraph-short }}</p>
      </td>
      {{/if}}
    </tr>
  {{/each}}
  </tbody>
</table>
