<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Size</th>
      <th>Descriptor 2</th>
      <th>Details</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>apple-sauce</td>
      <td>0.5 KB</td>
      <td><time>12/01/2019 11:04:19</time></td>
      <td><a href="#">View Details</a></td>
    </tr>
    <tr>
      <td>milk-shake-032</td>
      <td>300.0 KB</td>
      <td><time>03/22/2021 05:23:01</time></td>
      <td><a href="#">View Details</a></td>
    </tr>
    <tr>
      <td>white-candy-5</td>
      <td>1.5 MB</td>
      <td><time>07/12/2022 07:34:53</time></td>
      <td><a href="#">View Details</a></td>
    </tr>
  </tbody>
</table>
