<dl>

  <dt>Major Navigation</dt>
  <dd>
    <nav class="s-breadcrumbs">
      <ol>
        <li itemscope itemprop="itemListElement" itemtype="https://schema.org/ListItem">
          <a href="#">Home</a>
        </li>
        <li itemscope itemprop="itemListElement" itemtype="https://schema.org/ListItem">
          <a>Fruit</a>
        </li>
        <li itemscope itemprop="itemListElement" itemtype="https://schema.org/ListItem">
          <a href="#">Tropical</a>
        </li>
        <li itemscope itemprop="itemListElement" itemtype="https://schema.org/ListItem">
          <a href="#">Yellow</a>
        </li>
        <li itemscope itemprop="itemListElement" itemtype="https://schema.org/ListItem">
          Bananas
        </li>
      </ol>
    </nav>
  </dd>

  <dt>Other Navigation</dt>
  <dd>
    <ol class="s-breadcrumbs">
      <li itemscope itemprop="itemListElement" itemtype="https://schema.org/ListItem">
        <a href="#">Home</a>
      </li>
      <li itemscope itemprop="itemListElement" itemtype="https://schema.org/ListItem">
        <a>Fruit</a>
      </li>
      <li itemscope itemprop="itemListElement" itemtype="https://schema.org/ListItem">
        <a href="#">Tropical</a>
      </li>
      <li itemscope itemprop="itemListElement" itemtype="https://schema.org/ListItem">
        <a href="#">Yellow</a>
      </li>
      <li itemscope itemprop="itemListElement" itemtype="https://schema.org/ListItem">
        Bananas
      </li>
    </ol>
  </dd>
</dl>

<hr />

<dl>
  <dt><em>Deprecated</em> Major Navigation</dt>
  <dd>
    <div class="s-breadcrumbs-via-ul">
      <ul>
        <li itemscope itemprop="itemListElement" itemtype="https://schema.org/ListItem">
          <a href="#">Home</a>
        </li>
        <li itemscope itemprop="itemListElement" itemtype="https://schema.org/ListItem">
          <a>Fruit</a>
        </li>
        <li itemscope itemprop="itemListElement" itemtype="https://schema.org/ListItem">
          <a href="#">Tropical</a>
        </li>
        <li itemscope itemprop="itemListElement" itemtype="https://schema.org/ListItem">
          <a href="#">Yellow</a>
        </li>
        <li itemscope itemprop="itemListElement" itemtype="https://schema.org/ListItem">
          Bananas
        </li>
      </ul>
    </div>
  </dd>
</dl>
