/*! core-styles.settings.css → */
/* DO NOT ADD STYLES HERE; ONLY IMPORT OTHER STYLESHEETS */

@import url("./settings/border.postcss");
@import url("./settings/color.postcss");
@import url("./settings/font.postcss");
@import url("./settings/max-width.postcss");
@import url("./settings/space.postcss");
/*! ← core-styles.settings.css */
