/*! core-styles.portal.css */
/* DO NOT ADD STYLES HERE; ONLY IMPORT OTHER STYLESHEETS */

/* Organize via ITCSS */
/* https://confluence.tacc.utexas.edu/x/IAA9Cw */

/* SETTINGS */
/* To get most settings, client should load `./base.css` first */
@import url("./settings/font--portal.css");
@import url("./settings/color--portal.css");

/* GENERICS */
/* Mostly from Bootstrap */
/* https://confluence.tacc.utexas.edu/x/b53tDg */

/* ELEMENTS */
@import url("./elements/root--portal.css");
@import url("./elements/sticky-footer.css");
@import url("./elements/table.portal.css");

/* OBJECTS */
@import url("./objects/o-flex-item-table-wrap.css");

/* COMPONENTS */
@import url("./components/bootstrap.modal--portal.css");
@import url("./components/bootstrap.form.css");
@import url("./components/cortal.icon.css");
@import url("./components/mui.tabs.css");
@import url("./components/c-form--portal.css");
@import url("./components/c-message.css");
@import url("./components/c-message--compact.css");

/* TRUMPS */
@import url("./trumps/s-footer.css");
@import url("./trumps/s-footer--thin.css");
@import url("./trumps/s-form-page.css");
@import url("./trumps/s-truncated-table.css");
