<div class="heading-steps">
    <article class="heading-steps__item">
      <h3>Create an Account</h3>
    </article>
    <article class="heading-steps__item">
      <h3>Request Allocations</h3>
    </article>
    <article class="heading-steps__item">
      <h3>Learn How to Use Our Resources</h3>
    </article>
    <article class="heading-steps__item">
          <h3>Work With Our Team</h3>
    </article>
</div>