<dl>
  <dt>Job Script</dt>
  <dd>
    <pre class="job-script">
#!/bin/bash
#SBATCH -J myjob              # job name
#SBATCH -e myjob.%j.err       # error file name
#SBATCH -o myjob.%j.out       # output file name
#SBATCH -N 2                  # request 2 nodes
#SBATCH -n 96                 # request 2x48=96 MPI tasks
#SBATCH -p skx-normal         # designate queue
#SBATCH -t 24:00:00           # designate max run time
#SBATCH -A myproject          # charge job to myproject
module load gromacs/2022.1

ibrun gmx_mpi mdrun -s topol.tpr -o traj.trr -c confout.gro -e ener.edr -g md.log</pre>
  </dd>

  <dt>CMD Line</dt>
  <dd>
    <pre class="cmd-line">login1$ <b>module load kitten</b></pre>
  </dd>

  <dt>Syntax</dt>
  <dd>
    <dl>
      <dt>via &lt;pre&gt;</dt>
      <dd>
        <pre class="syntax">
|------- Socket 0 ------------|-------- Socket 1 -------------|
#   0   1   2,..., 61, 62, 63 |  0   1   2,...,  61,  62,  63 |
0   0   1   2,..., 61, 62, 63 | 64  65  66,..., 125, 126, 127 |</pre>
      </dd>
      <dt>via &lt;p&gt;</dt>
      <dd>
        <p class="syntax">
|------- Socket 0 ------------|-------- Socket 1 -------------|
#   0   1   2,..., 61, 62, 63 |  0   1   2,...,  61,  62,  63 |
0   0   1   2,..., 61, 62, 63 | 64  65  66,..., 125, 126, 127 |</p>
      </dd>
    </dl>
  </dd>
</dl>
<dl>
  <dt>Breadcrumbs</dt>
  <dd class="rst-content">
    <div role="navigation" aria-label="breadcrumbs navigation">
      <ul class="wy-breadcrumbs">
        <li><a href="../.." class="icon icon-home" aria-label="Docs">⌂</a> »</li>
        <li>HPC User Guides »</li>
        <li>Corral</li>
        <!--<li class="wy-breadcrumbs-aside">
        </li>-->
      </ul>
      <hr>
    </div>
  </dd>
</dl>