<dl>
  <dt>Standard</dt>
  <dd>
    There are no standard tag types.<br />
    <small>Clients must create their own modifier classes.</small>
  </dd>
  <dt>Custom</dt>
  <dd>
    There are <a href="https://github.com/TACC/tup-ui/blob/v1.0.13/apps/tup-cms/src/taccsite_custom/tup_cms/static/tup_cms/css/for-tup-cms/components/c-tag.css#L11-L63" target="_blank">examples (code) on TACC website</a>.
  </dd>
  <dd>
    {{> @c-tag type="whatever" name="Whatever You Want" }}
  </dd>
</dl>
