<dl>
  <dt><code>&lt;span&gt;</code> <small>e.g. <code>display: inline</code></small></dt>
  <dd>
    <span class="c-tag">i am tag</span>
  </dd>
  <dt><code>&lt;span <small>style="display: inline-block"</small>&gt;</code></dt>
  <dd>
    <span class="c-tag" style="display: inline-block">i am tag</span>
  </dd>
  <dt><code>&lt;div&gt;</code> <small>e.g. <code>display: block</code></small></dt>
  <dd>
    <div class="c-tag">i am tag</div>
  </dd>
  <dt><code>&lt;a&gt;</code></dt>
  <dd>
    <a href="#" class="c-tag">i am tag</a>
  </dd>
  <dt><code>&lt;button&gt;</code></dt>
  <dd>
    <button class="c-tag">i am tag</button>
  </dd>
</dl>
