<dl>
  <dt>Used on Element to Drop-Cap</dt>
  <dd><p class="s-drop-cap">The first letter of this sentence should be a drop-cap, because this paragraph has a <code>s-drop-cap</code> class. {{> @text-of-one-paragraph-short }}</p></dd>
  <dt>Used on Wrapper of Element to Drop-Cap</code></dt>
  <dd class="s-drop-cap"><p>The first letter of this sentence should be a drop-cap, because this paragraph is the first within an element that has a <code>s-drop-cap</code>. {{> @text-of-one-paragraph-short }}</p></dd>
</dl>
