<dl>
  <dt>No Attributes (thus no effect)</dt>
  <dd>
    <a href="mailto:__REMOVE_THIS__someone@any.domain.ext">
      __REMOVE_THIS__someone@any.domain.ext
    </a>
  </dt>

  <dt>Has Attributes (<code>data-user</code>, <code>data-domain</code>)</dt>
  <dd>
    <a
      href="mailto:__REMOVE_THIS__someone@any.domain.ext"
      data-domain="any.domain.ext" data-user="someone">
      __REMOVE_THIS__someone@any.domain.ext
    </a>
  </dt>
</dl>
