<dl>
  <dt>No Attributes (thus no effect)</dt>
  <dd>
    <a
      href="mailto:__REMOVE_THIS__someone@any.domain.ext"
      class="u-mailto-text-replace">
      __REMOVE_THIS__someone@any.domain.ext
    </a>
  </dt>

  <dt>Has Attributes (<code>data-user</code>, <code>data-domain</code>)</dt>
  <dd>
    <a
      href="mailto:__REMOVE_THIS__someone@any.domain.ext"
      data-domain="any.domain.ext" data-user="someone"
      class="u-mailto-text-replace">
      __REMOVE_THIS__someone@any.domain.ext
    </a>
  </dt>
</dl>
