/* TRUMPS: Icons */
@import url('./icon.fonts.css');

.icon {
  width: 1em;
  height: 1em;
  font-size: 1.125em; /* ~18px (16px design * 1.2 design-to-app ratio) */
  vertical-align: middle;
  /* A modern slimmer alternative to `&::before { display: block; }` */
  /* FAQ: Use `flex` to align `::before`; `inline` to not trigger new line */
  display: inline-flex;
}

/* Aliases */
/* .icon-contract */
.icon-collapse::before {
  content: "\e915";
}



/* Overrides */

/* In Bootstrap buttons that have icons, align wrapped button text */
/* HACK: Placeholder style until UI is finalized and componetized */
.btn .icon + span,
.btn .loading-icon + span {
  vertical-align: middle;
}
