/*
Text Content (Figure & Figcaption)

Element that represents self-contained content, potentially with an optional caption.

```
<figcaption> <figure>
```

Reference:

- [HTML element reference: Text content | MDN](https://developer.mozilla.org/en-US/docs/Web/HTML/Element#Text_content)
- [HTML: Figure | MDN](https://developer.mozilla.org/en-US/docs/Web/HTML/Element/figure)
- [HTML: Figcaption | MDN](https://developer.mozilla.org/en-US/docs/Web/HTML/Element/figcaption)

Styleguide Elements.TextContent.Figure
*/

figure > img {
  margin-bottom: 20px;
}
figcaption {
  color: var(--global-color-primary--dark);
  font-size: var(--global-font-size--medium);
  border-top: var(--global-border-width--normal) solid var(--global-color-primary--normal);
  padding-top: 12px;
}
