/*
Search Bar

Unopinionated styles for TACC search bar.

Markup: tacc-search-bar.html

Styleguide Elements.TACC.SearchBar
*/

[part="form"] {
  /* To fill available space of `:host` */
  width: 100%;
  height: 100%;
}

/* SEE: https://github.com/TACC/Core-Styles/blob/main/source/_imports/elements/tacc-search-bar.md */
:host { visibility: visible; height: auto; }
