.s-blockquote blockquote {
  margin: unset; /* undo browser */

  font-style: italic;
}

.s-blockquote blockquote p {
  margin: 0;
  white-space: pre-wrap;
}
.s-blockquote blockquote p::before { content: '“'; }
.s-blockquote blockquote p::after { content: '”'; }

.s-blockquote figcaption {
  margin-top: 0.3em;
}
.s-blockquote figcaption::before {
  content: "— ";
}

.s-blockquote cite {
  font-style: unset; /* undo browser */
}
