/*
Guide Doc

Styles for elements within a user instruction guide document.

Styleguide Trumps.Scopes.GuideDoc
*/





/* ELEMENTS */

/* ELEMENTS: Table Content */

.s-guide-doc table {
  width: 100%;
  max-width: 500px;

  text-align: center;
}

/* ELEMENTS: Description List */

.s-guide-doc dt {
  display: block;
  float: left;

  /* Remove space between <dt> and <dd> (from our styles) */
  /* SEE: ../elments/html-elements.html */
  margin-bottom: 0;

  font-weight: var(--bold);
}
.s-guide-doc dt::after {
  content: ':';

  margin-inline-end: 0.25em;
}
.s-guide-doc dd {
  clear: right;

  /* Remove space between <dd>'s (from Bootstrap) */
  margin-bottom: 0;
}





/* COMPONENTS */

/* COMPONENTS: Bootstrap */

.s-guide-doc .row > .col > *:last-child {
  margin-bottom: 0;
}
.s-guide-doc .row .row {
  padding: var(--global-space--normal) 0;
}
.s-guide-doc .row .row:nth-child(even) {
  background-color: var(--global-color-primary--x-light);
}
