<link rel="stylesheet" href="{{path '/elements/links.cms.css'}}" />
<link rel="stylesheet" href="{{path '/elements/links.cms/links.cms_docs.css'}}" />

<section class="s-links-irregular">
    {{> @text-and-link }}
</section>
