<dl>
  <dt>Images Use Full-Size URLs</dt>
  <dd>
    <div class="s-image-grid s-image-grid--links-are-automatic">
      <a href="{{> @img-url large=true }}" target="_blank">
        {{> @img large=true }}
      </a>
      <a href="{{> @img-url large=true wide=true }}" target="_blank">
        {{> @img large=true wide=true }}
      </a>
      <a href="{{> @img-url large=true tall=true }}" target="_blank">
        {{> @img large=true tall=true }}
      </a>
      <a href="{{> @img-url large=true }}" target="_blank">
        {{> @img large=true }}
      </a>
      <a href="{{> @img-url large=true wide=true }}" target="_blank">
        {{> @img large=true wide=true }}
      </a>
      <a href="{{> @img-url large=true }}" target="_blank">
        {{> @img large=true }}
      </a>
      <a href="{{> @img-url large=true wide=true }}" target="_blank">
        {{> @img large=true wide=true }}
      </a>
      <a href="{{> @img-url large=true }}" target="_blank">
        {{> @img large=true }}
      </a>
      <a href="{{> @img-url large=true wide=true }}" target="_blank">
        {{> @img large=true wide=true }}
      </a>
      <a href="{{> @img-url large=true tall=true }}" target="_blank">
        {{> @img large=true tall=true }}
      </a>
    </div>
  </dd>
  <dt>Images Use Thumbnail URLs</dt>
  <dd>
    <div class="s-image-grid s-image-grid--links-are-manual">
      <a href="{{> @img-url large=true }}" target="_blank">
        {{> @img }}
      </a>
      <a href="{{> @img-url large=true wide=true }}" target="_blank">
        {{> @img wide=true }}
      </a>
      <a href="{{> @img-url large=true tall=true }}" target="_blank">
        {{> @img tall=true }}
      </a>
      <a href="{{> @img-url large=true }}" target="_blank">
        {{> @img }}
      </a>
      <a href="{{> @img-url large=true wide=true }}" target="_blank">
        {{> @img wide=true }}
      </a>
      <a href="{{> @img-url large=true }}" target="_blank">
        {{> @img }}
      </a>
      <a href="{{> @img-url large=true wide=true }}" target="_blank">
        {{> @img wide=true }}
      </a>
      <a href="{{> @img-url large=true }}" target="_blank">
        {{> @img }}
      </a>
      <a href="{{> @img-url large=true wide=true }}" target="_blank">
        {{> @img wide=true }}
      </a>
      <a href="{{> @img-url large=true tall=true }}" target="_blank">
        {{> @img tall=true }}
      </a>
    </div>
  </dd>
  <dt>Gallery is a List</dt>
  <dd>
    <ul class="s-image-grid s-image-grid--links-are-manual">
      <li>
        <a href="{{> @img-url large=true }}" target="_blank">
          {{> @img }}
        </a>
      </li>
      <li>
        <a href="{{> @img-url large=true wide=true }}" target="_blank">
          {{> @img wide=true }}
        </a>
      </li>
      <li>
        <a href="{{> @img-url large=true tall=true }}" target="_blank">
          {{> @img tall=true }}
        </a>
      </li>
      <li>
        <a href="{{> @img-url large=true }}" target="_blank">
          {{> @img }}
        </a>
      </li>
      <li>
        <a href="{{> @img-url large=true wide=true }}" target="_blank">
          {{> @img large=true wide=true }}
        </a>
      </li>
      <li>
        <a href="{{> @img-url large=true }}" target="_blank">
          {{> @img }}
        </a>
      </li>
      <li>
        <a href="{{> @img-url large=true wide=true }}" target="_blank">
          {{> @img wide=true }}
        </a>
      </li>
      <li>
        <a href="{{> @img-url large=true }}" target="_blank">
          {{> @img }}
        </a>
      </li>
      <li>
        <a href="{{> @img-url large=true wide=true }}" target="_blank">
          {{> @img wide=true }}
        </a>
      </li>
      <li>
        <a href="{{> @img-url large=true tall=true }}" target="_blank">
          {{> @img tall=true }}
        </a>
      </li>
    </ul>
  </dd>
</dl>