<p>Features with which every page starts:</p>
<ul>
  <li>font size</li>
  <li>font family</li>
  <li>text color</li>
  <li>text line height</li>
  <li>text letter spacing</li>
  <li>page min. width</li>
  <li>page margin</li>
</ul>

<p>{{> @text-of-one-paragraph-long }}</p>
