<ol class="breadcrumb{{#if class}} {{ class }}{{/if}}">
  <li><a href="#">Home</a></li>
  <li><a>Fruit</a></li>
  <li><a href="#">Tropical</a></li>
  <li><a href="#">Yellow</a></li>
  <li class="active">Bananas</li>
</ol>
