@import url("../settings/color.accent.css");

@design-tokens url('../../tokens/v2.json') format('style-dictionary3');

:root {
  /* DEPRECATED */
  --global-color-accent--alt: var(--global-color-accent--x-light);
  --global-color-accent--weak: var(--global-color-accent--xx-light);
}
