@import url("./color--portal.v1.postcss");
@import url("./color--portal.v2.postcss");

/* Set scope for accent colors */
@custom-selector :--light-context-safe
  :root;
@custom-selector :--dark-context-safe
  .u-dark-context;
