<article class="card--image-bottom c-card--plain">
    <h3><a href="#">Card - Image Bottom</a></h3>
    <p>{{> @text-of-one-paragraph-short }}</p>
    <img
        src="https://www.tacc.utexas.edu/media/filer_public_thumbnails/filer_public/43/1a/431abd68-5142-4fa2-a5d1-0644a19361b9/main-skeletalai-feature-1200x800-c-default.jpg__992x992_q85_subsampling-2.jpg" />
</article>