<article class="card--image-left c-card--plain">
    <h3><a href="#">Card - Image Left</a></h3>
    <p>{{> @text-of-one-paragraph-short }}</p>
    <img
        src="https://www.tacc.utexas.edu/media/filer_public_thumbnails/filer_public/1e/bb/1ebb892b-a975-43ee-af7b-9fdb254cc439/rattler-crop.jpg__576x576_q85_subsampling-2.jpg" />
</article>