<article class="card--image card--image-top">
    <h4><a href="#">Bender Rodríguez</a></h4>
    <p>Planet Express Worker</p>
    <p>Anti-hero in Futurama</p>
    <img class="img-fluid" width="234px" height="293px"
        src="https://cohro.ukzn.ac.za/wp-content/uploads/2019/02/profile-placeholder.png"
        title="University of Texas at Austin" class="img-fluid">
</article>