{{#if only-standard}}

<article class="c-card c-card--{{this._self.name}}">
  <div class="o-grid o-grid--col-min-width">
    {{> @c-card--one-standard }}
    {{> @c-card--one-standard variant=1 }}
    {{> @c-card--one-standard variant=2 }}
  </div>
</article>

{{else}}

<article class="c-card c-card--{{this._self.name}}">
  <div class="o-grid o-grid--col-min-width">
    {{> @c-card--one-transparent }}
    {{> @c-card--one-standard }}
    {{> @c-card--one-image }}
  </div>
</article>

{{/if}}
