<main>
  <section class="o-section o-section--style-light  o-grid o-grid--col-min-width">
    {{> @c-card--many-variable }}
    {{> @c-card--one-with-grid only-standard=true}}
    {{> @c-card--one-with-grid }}
  </section>
  <hr />
  <section class="o-section o-section--style-muted  o-grid o-grid--col-min-width">
    {{> @c-card--many-variable }}
    {{> @c-card--one-with-grid only-standard=true}}
    {{> @c-card--one-with-grid }}
  </section>
  <hr />
  <section class="o-section o-section--style-dark  o-grid o-grid--col-min-width">
    {{> @c-card--many-variable }}
    {{> @c-card--one-with-grid only-standard=true}}
    {{> @c-card--one-with-grid }}
  </section>
</main>
