<main>
  <section class="o-section o-section--style-light  o-grid o-grid--col-auto-count">
    {{> @c-card--many-variable }}
    {{> @c-card--one-with-grid-of-many }}
  </section>
  <hr />
  <section class="o-section o-section--style-muted  o-grid o-grid--col-auto-count">
    {{> @c-card--many-variable }}
    {{> @c-card--one-with-grid-of-many }}
  </section>
  <hr />
  <section class="o-section o-section--style-dark  o-grid o-grid--col-auto-count">
    {{> @c-card--many-variable }}
    {{> @c-card--one-with-grid-of-many }}
  </section>
</main>
