<div>
    <section class="o-section o-section--style-light">
        {{> @c-card--set-of-cards }}
    </section>
    <section class="o-section o-section--style-muted">
        {{> @c-card--set-of-cards }}
    </section>
    <section class="o-section o-section--style-dark">
        {{> @c-card--set-of-cards }}
    </section>
</div>
