<h2 id="section--null">Section (Default a.k.a Unstyled a.k.a Transparent)</h2>
<section class="o-section">
    <h3>Transparent Card Image</h3>
    <section class="o-section o-grid o-grid--col-min-width" id="image-cards">
        {{> @c-card--image-top-transparent }}
        {{> @c-card--image-bottom-transparent }}
        {{> @c-card--image-right-transparent }}
        {{> @c-card--image-left-transparent }}
    </section>
    <h3>Contact Card with Image - Transparent</h3>
    <section class="o-section o-grid o-grid--col-min-width" id="image-cards">
        {{> @c-card--image-top-staff-transparent }}
    </section>

    <h3>Plain Card Image</h3>
    <section class="o-section o-grid o-grid--col-min-width" id="image-cards">
        {{> @c-card--image-top-plain }}
        {{> @c-card--image-bottom-plain }}
        {{> @c-card--image-right-plain }}
        {{> @c-card--image-left-plain }}
    </section>
    <h3>Contact Card with Image - Plain</h3>
    <section class="o-section o-grid o-grid--col-min-width" id="image-cards">
        {{> @c-card--image-top-staff-plain }}
    </section>
</section>
<hr>
<h2 id="section--null">Section - Light</h2>
<section class="o-section o-section--style-light">
    <h3>Transparent Card Image</h3>
    <section class="o-section o-grid o-grid--col-min-width" id="image-cards">
        {{> @c-card--image-top-transparent }}
        {{> @c-card--image-bottom-transparent }}
        {{> @c-card--image-right-transparent }}
        {{> @c-card--image-left-transparent }}
    </section>
    <h3>Contact Card with Image - Transparent</h3>
    <section class="o-section o-grid o-grid--col-min-width" id="image-cards">
        {{> @c-card--image-top-staff-transparent }}
    </section>

    <h3>Plain Card Image</h3>
    <section class="o-section o-grid o-grid--col-min-width" id="image-cards">
        {{> @c-card--image-top-plain }}
        {{> @c-card--image-bottom-plain }}
        {{> @c-card--image-right-plain }}
        {{> @c-card--image-left-plain }}
    </section>
    <h3>Contact Card with Image - Plain</h3>
    <section class="o-section o-grid o-grid--col-min-width" id="image-cards">
        {{> @c-card--image-top-staff-plain }}
    </section>
</section>
<hr>
<h2 id="section--null">Section - Muted</h2>
<section class="o-section o-section--style-muted">
    <h3>Transparent Card Image</h3>
    <section class="o-section o-grid o-grid--col-min-width" id="image-cards">
        {{> @c-card--image-top-transparent }}
        {{> @c-card--image-bottom-transparent }}
        {{> @c-card--image-right-transparent }}
        {{> @c-card--image-left-transparent }}
    </section>
    <h3>Contact Card with Image - Transparent</h3>
    <section class="o-section o-grid o-grid--col-min-width" id="image-cards">
        {{> @c-card--image-top-staff-transparent }}
    </section>

    <h3>Plain Card Image</h3>
    <section class="o-section o-grid o-grid--col-min-width" id="image-cards">
        {{> @c-card--image-top-plain }}
        {{> @c-card--image-bottom-plain }}
        {{> @c-card--image-right-plain }}
        {{> @c-card--image-left-plain }}
    </section>
    <h3>Contact Card with Image - Plain</h3>
    <section class="o-section o-grid o-grid--col-min-width" id="image-cards">
        {{> @c-card--image-top-staff-plain }}
    </section>
</section>
<hr>
<h2 id="section--null">Section - Dark</h2>
<section class="o-section o-section--style-dark">
    <h3>Transparent Card Image</h3>
    <section class="o-section o-grid o-grid--col-min-width" id="image-cards">
        {{> @c-card--image-top-transparent }}
        {{> @c-card--image-bottom-transparent }}
        {{> @c-card--image-right-transparent }}
        {{> @c-card--image-left-transparent }}
    </section>
    <h3>Contact Card with Image - Transparent</h3>
    <section class="o-section o-grid o-grid--col-min-width" id="image-cards">
        {{> @c-card--image-top-staff-transparent }}
    </section>

    <h3>Plain Card Image</h3>
    <section class="o-section o-grid o-grid--col-min-width" id="image-cards">
        {{> @c-card--image-top-plain }}
        {{> @c-card--image-bottom-plain }}
        {{> @c-card--image-right-plain }}
        {{> @c-card--image-left-plain }}
    </section>
    <h3>Contact Card with Image - Plain</h3>
    <section class="o-section o-grid o-grid--col-min-width" id="image-cards">
        {{> @c-card--image-top-staff-plain }}
    </section>
</section>