<div class="c-tabs">

  <input id="tab-toggle-1" name="tabs" type="radio" checked>
  <label for="tab-toggle-1">Tab Label 1</label>
  <div>
    <p>Tab Content 1</p>
    <p>
      <label>Focuable Element</label>
      <input type="text" />
    </p>
  </div>

  <input id="tab-toggle-2" name="tabs" type="radio">
  <label for="tab-toggle-2">Tab Label 2</label>
  <div>
    <p>Tab Content 2</p>
  </div>

  <input id="tab-toggle-3" name="tabs" type="radio">
  <label for="tab-toggle-3">Tab Label 3</label>
  <div>
    <p>Tab Content 3</p>
  </div>

</div>
