<div class="c-tabs">

  <input id="1" name="tabs" type="radio" checked>
  <label for="1">Tab Label 1</label>
  <div>
    <p>Tab Content 1</p>
    <p>
      <label>Focuable Element</label>
      <input type="text" />
    </p>
  </div>

  <input id="2" name="tabs" type="radio">
  <label for="2">Tab Label 2</label>
  <div>
    <p>Tab Content 2</p>
  </div>

  <input id="3" name="tabs" type="radio">
  <label for="3">Tab Label 3</label>
  <div>
    <p>Tab Content 3</p>
  </div>

  <input id="4" name="tabs" type="radio">
  <label for="4">Tab Label 4</label>
  <div>
    <p>Tab Content 4</p>
  </div>

</div>
