<dt>{{ name }}</dt>
<dd class="demo-family--{{ modifier }}">
  <p>
    <kbd>var(--{{modifier}})</kbd> or
    <kbd>var(--global-font-family--{{modifier}})</kbd>
  </p>
  <p>The quick brown fox jumps over the lazy dog.</p>
  <address>
    ABCDEFGHIJKLMNOPQRSTUVWXYZ</br>
    abcdefghijklmnopqrstuvwxyz</br>
    0123456789</br>
  </address>
</dd>