{{#if shouldShowSizeMessage}}
<p class="demo-message">
  There are currently <em><strong>no</strong> default font sizes</em>. A client must load CMS styles or Portal styles or their own custom font sizes.
</p>
{{/if}}
<dl>
  <dt>Family</dt>
  <dd>
    <dl>
      <dt>Sans</dt>
      <dd class="demo-family--sans">
        {{> @font--family }}
      </dd>
      <dt>Serif</dt>
      <dd class="demo-family--serif">
        {{> @font--family }}
      </dd>
      <dt>Mono</dt>
      <dd class="demo-family--mono">
        {{> @font--family }}
      </dd>
    </dl>
  </dd>
</dl>
<dl>
  <dt>Size</dt>
  <dd>
    <p class="demo-size--xxx-large">XXX Large</p>
    <p class="demo-size--xx-large">XX Large</p>
    <p class="demo-size--x-large">X Large</p>
    <p class="demo-size--large">Large</p>
    <p class="demo-size--medium">Medium</p>
    <p class="demo-size--small">Small</p>
    <p class="demo-size--x-small">X Small</p>
  </dd>
</dl>
<dl>
  <dt>Font Weights</dt>
  <dd>
    <dl>
      <dt>Sans</dt>
      <dd class="demo-family--sans  demo-grid demo-grid--square demo-grid--boxes">
        {{> @font--weights family="Sans"}}
      </dd>
      <dt>Serif</dt>
      <dd class="demo-family--serif  demo-grid demo-grid--square demo-grid--boxes">
        {{> @font--weights family="Serif"}}
      </dd>
      <dt>Mono</dt>
      <dd class="demo-family--mono  demo-grid demo-grid--square demo-grid--boxes">
        {{> @font--weights family="Mono"}}
      </dd>
    </dl>
  </dd>
</dl>
