{{> @message
    tag="p"
    content="The <code>o-section--has-border</code> feature will be made available for all clients in the future."
}}
<section class="o-section o-section--style-light o-section--has-border">
    <h2>Section (Style Light, Has Border)</h2>
    <p>{{> @text-of-one-paragraph-with-actions }}</p>
</section>
<section class="o-section o-section--style-muted o-section--has-border">
    <h2>Section (Style Muted, Has Border)</h2>
    <p>{{> @text-of-one-paragraph-with-actions }}</p>
</section>
<section class="o-section o-section--style-light o-section--has-border">
    <h2>Section (Style Light, Has Border)</h2>
    <p>{{> @text-of-one-paragraph-with-actions }}</p>
</section>
<section class="o-section o-section--style-muted o-section--has-border">
    <h2>Section (Style Muted, Has Border)</h2>
    <p>{{> @text-of-one-paragraph-with-actions }}</p>
</section>
