<div>
  <p>{{> @text-of-one-paragraph-short }}</p>
</div>
{{#> @partial-block}}
<div>
  {{> @message
      tag="p"
      type="info"
      scope="section"
      content="To render a table, choose a modifier class from the navigation panel."
  }}
</div>
{{/@partial-block}}
<div>
  <p>{{> @text-of-one-paragraph-short }}</p>
</div>
