<div>
  <p>{{> @text-of-one-paragraph }}</p>
</div>
{{#> @partial-block}}
<div>
  <p class="c-message c-message--info">To render a table, choose a modifier class from the navigation panel.</p>
</div>
{{/@partial-block}}
<div>
  <p>{{> @text-of-one-paragraph }}</p>
</div>
