<figure class="demo-font-weight--regular">
  <p>Aa</p>
  <figcaption>{{family}} Regular</figcaption>
</figure>
<figure class="demo-font-weight--medium">
  <p>Aa</p>
  <figcaption>{{family}} Medium</figcaption>
</figure>
<figure class="demo-font-weight--bold">
  <p>Aa</p>
  <figcaption>{{family}} Bold</figcaption>
</figure>
