<p>{{#if label}}<strong>{{{ label }}}:</strong> {{/if}}Pack my red box with five dozen quality jugs. A quick brown fox jumps over the <a href="#">lazy dog</a>. A waxy gent chuckled over my fab jazzy quips.</p>
