<p>{{#if label}}<strong>{{{ label }}}:</strong> {{/if}}Pack my red box with five dozen quality jugs. A quick brown fox jumps over the <button{{#if class}} class="{{class}}"{{/if}}>lazy dog</button>. A waxy gent chuckled over my fab jazzy quips.</p>
