{{> @headings }}
<hr />
<nav class="c-nav">
  <ul>
    <li><a href="#headings--dark-section"><strong>dark</strong> section</a></li>
    <li><a href="#headings--muted-section"><strong>muted</strong> section</a></li>
    <li><a href="#headings--light-section"><strong>light</strong> section</a></li>
    <li><a href="#headings--unstyled-section"><strong>unstyled</strong> section</a></li>
  </ul>
</nav>
<section id="headings--dark-section" class="o-section o-section--style-dark"><strong>dark</strong> <a href="{{path '../detail/o-section' }}" target="_parent">section</a></dt>
  {{> @headings }}
</section>
<section id="headings--muted-section" class="o-section o-section--style-muted"><strong>muted</strong> <a href="{{path '../detail/o-section' }}" target="_parent">section</a></dt>
  {{> @headings }}
</section>
<section id="headings--light-section" class="o-section o-section--style-light"><strong>light</strong> <a href="{{path '../detail/o-section' }}" target="_parent">section</a></dt>
  {{> @headings }}
</section>
<section id="headings--unstyled-section" class="o-section o-section--style-unstyled"><strong>unstyled</strong> <a href="{{path '../detail/o-section' }}" target="_parent">section</a></dt>
  {{> @headings }}
</section>
