<dl>
  <dt>Family</dt>
  <dd>
    <dl>
      <dt>Sans</dt>
      <dd class="demo-font-family--sans">
        {{> @font-family }}
      </dd>
      <dt>Serif</dt>
      <dd class="demo-font-family--serif">
        {{> @font-family }}
      </dd>
      <dt>Mono</dt>
      <dd class="demo-font-family--mono">
        {{> @font-family }}
      </dd>
    </dl>
  </dd>
</dl>
<dl>
  <dt>Size</dt>
  <dd>
    <p class="demo-font-size--xxx-large">XXX Large</p>
    <p class="demo-font-size--xx-large">XX Large</p>
    <p class="demo-font-size--x-large">X Large</p>
    <p class="demo-font-size--large">Large</p>
    <p class="demo-font-size--medium">Medium</p>
    <p class="demo-font-size--small">Small</p>
    <p class="demo-font-size--x-small">X Small</p>
  </dd>
</dl>
<dl>
  <dt>Font Weights</dt>
  <dd>
    <dl>
      <dt>Sans</dt>
      <dd class="
        demo-grid demo-grid--square demo-grid--boxes
        demo-font-family--sans
      ">
        {{> @font-weights family="Sans"}}
      </dd>
      <dt>Serif</dt>
      <dd class="
        demo-grid demo-grid--square demo-grid--boxes
        demo-font-family--serif
      ">
        {{> @font-weights family="Serif"}}
      </dd>
      <dt>Mono</dt>
      <dd class="
        demo-grid demo-grid--square demo-grid--boxes
        demo-font-family--mono
      ">
        {{> @font-weights family="Mono"}}
      </dd>
    </dl>
  </dd>
</dl>
