<footer>
  <a href="https://tacc.utexas.edu/about/security-and-compliance/">
    Security
  </a>
  <a href="https://tacc.utexas.edu/use-tacc/user-policies/">
    Policies
  </a>
  <a href="https://www.nsf.gov/" target="_blank">
    Funded by:
    <img src="https://cep.tacc.utexas.edu/static/site_cms/img/org_logos/nsf-logo.svg"
      alt="NSF" title="National Science Foundation" height="50px">
  </a>
</footer>
