<dl>
  <dt>Standard</dt>
  <dd><span class="x-link">default</span></dd>
  <dd><span class="x-link x-link--disabled">"disabled"</span></dd>
  <dd><span class="x-link x-link--hover">:hover</span></dd>
  <dd><span class="x-link x-link--active">:active</span></dd>
  <dd><span class="x-link x-link--hover x-link--active">:hover and :active</span></dd>
  <dt>Irregular</dt>
  <dd><span class="x-link--irregular">default</span></dd>
  <dd><span class="x-link x-link--irregular--disabled">"disabled"</span></dd>
  <dd><span class="x-link x-link--irregular--hover">:hover</span></dd>
  <dd><span class="x-link x-link--irregular--active">:active</span></dd>
  <dd><span class="x-link x-link--irregular--hover x-link--irregular--active">:hover and :active</span></dd>
</dl>
