<div class="tabbed-set">

  <input id="__tabbed_1_1" name="__tabbed_1" type="radio" checked="checked">
  <label for="__tabbed_1_1">Tab 1</label>
  <div class="tabbed-content">
    <p>Tab Content 1</p>
    <p>
      <label>Focuable Element</label>
      <input type="text" />
    </p>
  </div>

  <input id="__tabbed_1_2" name="__tabbed_1" type="radio">
  <label for="__tabbed_1_2">Tab 2</label>
  <div class="tabbed-content">
    <p>Tab Content 2</p>
  </div>

  <input id="__tabbed_1_3" name="__tabbed_1" type="radio">
  <label for="__tabbed_1_3">Tab 3</label>
  <div class="tabbed-content">
    <p>Tab Content 3</p>
  </div>

</div>
