{{> @message
    type=this.type
    scope=this.scope
    title=this.title
    needs=this.needs
    content=this.content
    extra_content='<a href="#">Sample link.</a> And a <button class="c-button c-button--as-link">sample button as link</button>.'
}}
