<dl>
  <dt>island</dt>
  <dd>
    <aside class="c-island">
      <p>{{> @text-of-one-paragraph-short }}</p>
    </aside>
  </dd>
  <dt>
    island with paragraphs
    <small>(and manual <code>&lt;hr /&gt;</code>'s)</small>
  </dt>
  <dd>
    <aside class="c-island">
      <p>{{> @text-of-one-paragraph-short }}</p>
      <hr />
      <p>{{> @text-of-one-paragraph-short }}</p>
      <hr />
      <p>{{> @text-of-one-paragraph-short }}</p>
    </aside>
  </dd>
</dl>
