<div class="container">
  <br />
  {{> @message
        type="info"
        scope="section"
        content="<strong>See \"Notes\".</strong> Difference is only visible at <strong>very</strong> wide viewports."
  }}
</div>
