<base href="https://tacc.utexas.edu/" />

<div class="app app-blog no-tags has-blog-category-feature-story">
<article id="post-basic-news-template" class="post-item post-detail">
  <header>
    <h1>Click on me!! Basic News Template For Practice</h1>
    <h2>This is the template for science news, featured news, and press releases</h2>
    <ul class="post-detail attrs">
      <li class="byline">
        <span>by:</span>&nbsp;

        <a href="/news/latest-news/author/hedda/">Hedda Prochaska</a>
      </li>
      <li class="date date-published">
        <span>Published:</span>&nbsp;

        <time datetime="Sept. 19, 2023, 1:37 p.m." title="Sept. 19, 2023, 1:37 p.m.">
          Sept. 19, 2023
        </time>
      </li>
    </ul>
    <ul class="post-detail categories">
      <li class="category_1"><a href="/news/latest-news/category/feature-story/" class="blog-category-feature-story">Feature Story</a></li>
    </ul>
    <ul class="post-detail tags"></ul>
  </header>
  <div class="blog-visual"><img src="/media/filer_public_thumbnails/filer_public/25/04/2504bc6d-133d-40a8-84c4-9c1a6658f252/test-pug.jpg__1200x420_q85_subsampling-2_upscale.jpg" alt="None" width="758" height="420" /></div>
  <div class="blog-content">
    <div class="embed-responsive"><iframe src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/1242255460" frameborder="0" allowfullscreen="true"></iframe></div>
    <p class="caption">I am a caption for the video.</p>
    <p>
      <a href="https://youtu.be/TVR2YdosN-s" target="_blank">Look at this great example of an external link</a>. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
      enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
    </p>
    <p>
      <a href="//tacc.utexas.edu/">Look at this great example of an internal link</a>. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident,
      sunt in culpa qui officia deserunt mollit anim id est laborum.
    </p>
    <blockquote class="blockquote text-left">
      I am me. I remain me. For now. You never know what will happen when the computers take over. We might be everyone and no one.

      <footer class="blockquote-footer"><cite title="Wes">Wes</cite></footer>
    </blockquote>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
      Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
    </p>
    <figure class="align-center img-fluid">
      <img src="/media/filer_public_thumbnails/filer_public/25/04/2504bc6d-133d-40a8-84c4-9c1a6658f252/test-pug.jpg__200x123_q85_subsampling-2.jpg" alt="" width="200" />
      <figcaption>
        Whatever
      </figcaption>
    </figure>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
      Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
    </p>
    <figure class="align-right img-fluid">
      <img src="/media/filer_public_thumbnails/filer_public/1a/79/1a790ebc-4afc-413e-89e7-8cf61cfb0aac/test-pug2.jpg__512.0x340.0_q85_subsampling-2.jpg" alt="" />
      <figcaption>
        look at meeeeeeee
      </figcaption>
    </figure>
    <p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
      Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
    </p>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
      Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
    </p>
    <div class="embed-responsive embed-responsive-16by9"><iframe src="//www.youtube.com/embed/TlmgzXh0GGw" frameborder="0" allowfullscreen="true"></iframe></div>
    <p class="caption">I am also a caption.</p>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
      Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
    </p>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
      Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
    </p>
    <blockquote class="blockquote text-left">
      Hedda is the best. Hedda is the best. Hedda is the best. Hedda is the best. Hedda is the best. Hedda is the best. Hedda is the best. Hedda is the best. Wes is pretty good too.

      <footer class="blockquote-footer"><cite title="Official Spokespug">Official Spokespug</cite></footer>
    </blockquote>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
      Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
    </p>
    <aside class="island">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
      Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
    </aside>
  </div>
</article>
</div>
