<base href="https://tacc.utexas.edu/" />

<div class="app app-blog no-tags">
<div class="blog-list">
  <header>
    <h1>News</h1>
  </header>
  <article id="post-genes-that-shape-bones-identified-offering-clues-about-our-past-and-future" class="post-item  has-blog-category-feature-story">
    <header>
      <h3>
        <a href="./news/latest-news/2023/09/14/genes-that-shape-bones-identified-offering-clues-about-our-past-and-future/">Genes That Shape Bones Identified, Offering Clues About Our Past and Future</a>
      </h3>
      <h4>Frontera supports analysis of deep learning models for genetic map of skeletal proportions</h4>
      <ul class="post-detail attrs">
        <li class="byline">
          <span>by:</span>&nbsp; <a href="./news/latest-news/author/jorge/">Jorge Salazar</a>
        </li>
        <li class="date date-published">
          <span>Published:</span>&nbsp; <time datetime="Sept. 14, 2023, 8 a.m." title="Sept. 14, 2023, 8 a.m."> Sept. 14, 2023 </time>
        </li>
      </ul>
      <ul class="post-detail categories">
        <li class="category_1">
          <a href="./news/latest-news/category/feature-story/" class="blog-category-feature-story">Feature Story</a>
        </li>
      </ul>
      <ul class="post-detail tags"></ul>
    </header>
    <div class="blog-visual">
      <img src="/media/filer_public_thumbnails/filer_public/43/1a/431abd68-5142-4fa2-a5d1-0644a19361b9/main-skeletalai-feature-1200x800-c-default.jpg__300x200_q85_crop_subsampling-2.jpg" alt="None" width="300" height="200">
    </div>
    <div class="blog-lead">
      <p>Frontera supports analysis of deep learning models for genetic map of skeletal proportions</p>
    </div>
    <footer class="read-more">
      <a href="./news/latest-news/2023/09/14/genes-that-shape-bones-identified-offering-clues-about-our-past-and-future/">open article</a>
    </footer>
  </article>
  <article id="post-hot-jupiter-blows-its-top" class="post-item  has-blog-category-feature-story">
    <header>
      <h3>
        <a href="./news/latest-news/2023/09/05/hot-jupiter-blows-its-top/">Hot Jupiter Blows Its Top</a>
      </h3>
      <h4>Stampede2 simulations help capture helium gas clouds escaping distant planet</h4>
      <ul class="post-detail attrs">
        <li class="byline">
          <span>by:</span>&nbsp; <a href="./news/latest-news/author/jorge/">Jorge Salazar</a>
        </li>
        <li class="date date-published">
          <span>Published:</span>&nbsp; <time datetime="Sept. 5, 2023, 8 a.m." title="Sept. 5, 2023, 8 a.m."> Sept. 5, 2023 </time>
        </li>
      </ul>
      <ul class="post-detail categories">
        <li class="category_1">
          <a href="./news/latest-news/category/feature-story/" class="blog-category-feature-story">Feature Story</a>
        </li>
      </ul>
      <ul class="post-detail tags"></ul>
    </header>
    <div class="blog-visual">
      <img src="/media/filer_public_thumbnails/filer_public/cb/df/cbdfb41f-7ddf-4725-95a5-4c533d018c1d/main_fydpouqaeaikrjc_copy.jpg__300x200_q85_crop_subsampling-2.jpg" alt="None" width="300" height="200">
    </div>
    <div class="blog-lead">
      <p>Stampede2 simulations help capture helium gas clouds escaping distant planet</p>
    </div>
    <footer class="read-more">
      <a href="./news/latest-news/2023/09/05/hot-jupiter-blows-its-top/">open article</a>
    </footer>
  </article>
  <article id="post-generating-new-cyber-talent" class="post-item  has-blog-category-feature-story has-blog-category-multimedia">
    <header>
      <h3>
        <a href="./news/latest-news/2023/08/30/generating-new-cyber-talent/">Generating New Cyber Talent</a>
      </h3>
      <h4>TACC debuts two cybersecurity summer camps with funding from GenCyber</h4>
      <ul class="post-detail attrs">
        <li class="byline">
          <span>by:</span>&nbsp; <a href="./news/latest-news/author/dhopkins/">Damian Hopkins</a>
        </li>
        <li class="date date-published">
          <span>Published:</span>&nbsp; <time datetime="Aug. 30, 2023, 1 p.m." title="Aug. 30, 2023, 1 p.m."> Aug. 30, 2023 </time>
        </li>
      </ul>
      <ul class="post-detail categories">
        <li class="category_1">
          <a href="./news/latest-news/category/feature-story/" class="blog-category-feature-story">Feature Story</a>
        </li>
        <li class="category_2">
          <a href="./news/latest-news/category/multimedia/" class="blog-category-multimedia">Multimedia</a>
        </li>
      </ul>
      <ul class="post-detail tags"></ul>
    </header>
    <div class="blog-visual">
      <img src="/media/filer_public_thumbnails/filer_public/8e/53/8e53e99f-4798-404e-ac43-faa219a934bc/main_art.jpeg__300x200_q85_crop_subsampling-2.jpg" alt="None" width="300" height="200">
    </div>
    <div class="blog-lead">
      <p>TACC debuts two cybersecurity summer camps with funding from GenCyber</p>
    </div>
    <footer class="read-more">
      <a href="./news/latest-news/2023/08/30/generating-new-cyber-talent/">open article</a>
    </footer>
  </article>
  <article id="post-building-a-cs-future" class="post-item  has-blog-category-feature-story">
    <header>
      <h3>
        <a href="./news/latest-news/2023/08/23/building-a-cs-future/">Building a CS Future</a>
      </h3>
      <h4>Networking, educational opportunities abound at inaugural K-5 PD extravaganza</h4>
      <ul class="post-detail attrs">
        <li class="byline">
          <span>by:</span>&nbsp; <a href="./news/latest-news/author/dhopkins/">Damian Hopkins</a>
        </li>
        <li class="date date-published">
          <span>Published:</span>&nbsp; <time datetime="Aug. 23, 2023, noon" title="Aug. 23, 2023, noon"> Aug. 23, 2023 </time>
        </li>
      </ul>
      <ul class="post-detail categories">
        <li class="category_1">
          <a href="./news/latest-news/category/feature-story/" class="blog-category-feature-story">Feature Story</a>
        </li>
      </ul>
      <ul class="post-detail tags"></ul>
    </header>
    <div class="blog-visual">
      <img src="/media/filer_public_thumbnails/filer_public/7b/12/7b123845-0811-4037-9bdb-9cdc2ca57b44/main-art-edit.jpg__300x200_q85_crop_subsampling-2.jpg" alt="None" width="300" height="200">
    </div>
    <div class="blog-lead">
      <p>Networking, educational opportunities abound at inaugural K-5 PD extravaganza</p>
    </div>
    <footer class="read-more">
      <a href="./news/latest-news/2023/08/23/building-a-cs-future/">open article</a>
    </footer>
  </article>
  <article id="post-geologists-challenge-conventional-view-of-earths-continental-history-stability" class="post-item  has-blog-category-feature-story">
    <header>
      <h3>
        <a href="./news/latest-news/2023/08/22/geologists-challenge-conventional-view-of-earths-continental-history-stability/">Geologists Challenge Conventional View of Earth’s Continental History, Stability</a>
      </h3>
      <h4>Frontera geodynamics simulations help explore tectonic plate underbelly</h4>
      <ul class="post-detail attrs">
        <li class="byline">
          <span>by:</span>&nbsp; <a href="./news/latest-news/author/jorge/">Jorge Salazar</a>
        </li>
        <li class="date date-published">
          <span>Published:</span>&nbsp; <time datetime="Aug. 22, 2023, 9 a.m." title="Aug. 22, 2023, 9 a.m."> Aug. 22, 2023 </time>
        </li>
      </ul>
      <ul class="post-detail categories">
        <li class="category_1">
          <a href="./news/latest-news/category/feature-story/" class="blog-category-feature-story">Feature Story</a>
        </li>
      </ul>
      <ul class="post-detail tags"></ul>
    </header>
    <div class="blog-visual">
      <img src="/media/filer_public_thumbnails/filer_public/aa/21/aa2140e9-4bb6-4967-bb05-273a81021cb2/215820.jpeg__300x200_q85_crop_subject_location-600%2C400_subsampling-2.jpg" alt="None" width="300" height="200">
    </div>
    <div class="blog-lead"></div>
    <footer class="read-more">
      <a href="./news/latest-news/2023/08/22/geologists-challenge-conventional-view-of-earths-continental-history-stability/">open article</a>
    </footer>
  </article>
  <article id="post-2023-weteachcs-summit" class="post-item  has-blog-category-feature-story has-blog-category-multimedia">
    <header>
      <h3>
        <a href="./news/latest-news/2023/08/17/2023-weteachcs-summit/">A ‘Summit’ of Opportunities</a>
      </h3>
      <h4>At the 2023 WeTeach_CS Summit, networking, learning, resources, awards abound as educators, school districts honored</h4>
      <ul class="post-detail attrs">
        <li class="byline">
          <span>by:</span>&nbsp; <a href="./news/latest-news/author/dhopkins/">Damian Hopkins</a>
        </li>
        <li class="date date-published">
          <span>Published:</span>&nbsp; <time datetime="Aug. 17, 2023, 12:01 p.m." title="Aug. 17, 2023, 12:01 p.m."> Aug. 17, 2023 </time>
        </li>
      </ul>
      <ul class="post-detail categories">
        <li class="category_1">
          <a href="./news/latest-news/category/feature-story/" class="blog-category-feature-story">Feature Story</a>
        </li>
        <li class="category_2">
          <a href="./news/latest-news/category/multimedia/" class="blog-category-multimedia">Multimedia</a>
        </li>
      </ul>
      <ul class="post-detail tags"></ul>
    </header>
    <div class="blog-visual">
      <img src="/media/filer_public_thumbnails/filer_public/18/51/1851e212-d6f2-4dc6-bd87-7c325865f427/wtcs-epic_day_1_main_art.jpeg__300x200_q85_crop_subject_location-371%2C164_subsampling-2.jpg" alt="None" width="300" height="200">
    </div>
    <div class="blog-lead">
      <p>At the 2023 WeTeach_CS Summit, networking, learning, resources, awards abound as educators, school districts honored</p>
    </div>
    <footer class="read-more">
      <a href="./news/latest-news/2023/08/17/2023-weteachcs-summit/">open article</a>
    </footer>
  </article>
  <article id="post-researchers-develop-active-learning-workflow-to-optimize-drug-design" class="post-item  has-blog-category-feature-story">
    <header>
      <h3>
        <a href="./news/latest-news/2023/08/15/researchers-develop-active-learning-workflow-to-optimize-drug-design/">Researchers Develop Active Learning Workflow to Optimize Drug Design</a>
      </h3>
      <h4>TACC’s Frontera supercomputer aids machine learning workflow for COVID-19 drug screening</h4>
      <ul class="post-detail attrs">
        <li class="byline">
          <span>by:</span>&nbsp; <a href="./news/latest-news/author/jorge/">Jorge Salazar</a>
        </li>
        <li class="date date-published">
          <span>Published:</span>&nbsp; <time datetime="Aug. 15, 2023, 11:28 a.m." title="Aug. 15, 2023, 11:28 a.m."> Aug. 15, 2023 </time>
        </li>
      </ul>
      <ul class="post-detail categories">
        <li class="category_1">
          <a href="./news/latest-news/category/feature-story/" class="blog-category-feature-story">Feature Story</a>
        </li>
      </ul>
      <ul class="post-detail tags"></ul>
    </header>
    <div class="blog-visual">
      <img src="/media/filer_public_thumbnails/filer_public/01/f4/01f4409a-0e1d-4ec3-ac1a-acfe0311bcfa/workflow.jpg__300x200_q85_crop_subsampling-2.jpg" alt="None" width="300" height="200">
    </div>
    <div class="blog-lead"> TACC’s Frontera supercomputer aids machine learning workflow for COVID-19 drug screening</div>
    <footer class="read-more">
      <a href="./news/latest-news/2023/08/15/researchers-develop-active-learning-workflow-to-optimize-drug-design/">open article</a>
    </footer>
  </article>
  <article id="post-homegrown-talent" class="post-item  has-blog-category-feature-story">
    <header>
      <h3>
        <a href="./news/latest-news/2023/08/10/homegrown-talent/">Homegrown Talent</a>
      </h3>
      <h4>TACC Professional Internship Program opening doors to tech workers from non-traditional backgrounds</h4>
      <ul class="post-detail attrs">
        <li class="byline">
          <span>by:</span>&nbsp; <a href="./news/latest-news/author/dhopkins/">Damian Hopkins</a>
        </li>
        <li class="date date-published">
          <span>Published:</span>&nbsp; <time datetime="Aug. 10, 2023, 12:48 p.m." title="Aug. 10, 2023, 12:48 p.m."> Aug. 10, 2023 </time>
        </li>
      </ul>
      <ul class="post-detail categories">
        <li class="category_1">
          <a href="./news/latest-news/category/feature-story/" class="blog-category-feature-story">Feature Story</a>
        </li>
      </ul>
      <ul class="post-detail tags"></ul>
    </header>
    <div class="blog-visual">
      <img src="/media/filer_public_thumbnails/filer_public/45/6a/456a3027-605d-464e-9875-ac23439026ee/main_art_1_1_copy.jpeg__300x200_q85_crop_subsampling-2.jpg" alt="None" width="300" height="200">
    </div>
    <div class="blog-lead"> TACC Professional Internship Program opening doors to tech workers from non-traditional backgrounds </div>
    <footer class="read-more">
      <a href="./news/latest-news/2023/08/10/homegrown-talent/">open article</a>
    </footer>
  </article>
  <article id="post-2023-2024-frontera-fellows-welcome" class="post-item  has-blog-category-qa">
    <header>
      <h3>
        <a href="./news/latest-news/2023/08/07/2023-2024-frontera-fellows-welcome/">2023-2024 Frontera Fellows Cohort — Welcome Aboard!</a>
      </h3>
      <h4>TACC’s Frontera Computational Science Fellowship for 2023-2024 commenced in June</h4>
      <ul class="post-detail attrs">
        <li class="byline">
          <span>by:</span>&nbsp; <a href="./news/latest-news/author/dhopkins/">Damian Hopkins</a>
        </li>
        <li class="date date-published">
          <span>Published:</span>&nbsp; <time datetime="Aug. 7, 2023, 10:25 a.m." title="Aug. 7, 2023, 10:25 a.m."> Aug. 7, 2023 </time>
        </li>
      </ul>
      <ul class="post-detail categories">
        <li class="category_1">
          <a href="./news/latest-news/category/qa/" class="blog-category-qa">Q&amp;A</a>
        </li>
      </ul>
      <ul class="post-detail tags"></ul>
    </header>
    <div class="blog-visual">
      <img src="/media/filer_public_thumbnails/filer_public/43/a0/43a0aab0-c392-479c-99a5-6343f9084fcc/stephanie-dsc_0574_copy.jpg__300x200_q85_crop_subject_location-178%2C172_subsampling-2.jpg" alt="None" width="300" height="200">
    </div>
    <div class="blog-lead"> TACC’s Frontera Computational Science Fellowship for 2023-2024 commenced at the start of June </div>
    <footer class="read-more">
      <a href="./news/latest-news/2023/08/07/2023-2024-frontera-fellows-welcome/">open article</a>
    </footer>
  </article>
  <article id="post-deep-learning-for-new-protein-design" class="post-item  has-blog-category-feature-story">
    <header>
      <h3>
        <a href="./news/latest-news/2023/08/03/deep-learning-for-new-protein-design/">Deep Learning for New Protein Design</a>
      </h3>
      <h4>AI-augmented pipeline with Frontera yields ten-fold increase in target binding success</h4>
      <ul class="post-detail attrs">
        <li class="byline">
          <span>by:</span>&nbsp; <a href="./news/latest-news/author/jorge/">Jorge Salazar</a>
        </li>
        <li class="date date-published">
          <span>Published:</span>&nbsp; <time datetime="Aug. 3, 2023, 12:22 p.m." title="Aug. 3, 2023, 12:22 p.m."> Aug. 3, 2023 </time>
        </li>
      </ul>
      <ul class="post-detail categories">
        <li class="category_1">
          <a href="./news/latest-news/category/feature-story/" class="blog-category-feature-story">Feature Story</a>
        </li>
      </ul>
      <ul class="post-detail tags"></ul>
    </header>
    <div class="blog-visual">
      <img src="/media/filer_public_thumbnails/filer_public/4e/67/4e670376-a691-4ed1-9685-9517019bbedc/main-screen-shot-2023-08-01-at-95620-pm.jpg__300x200_q85_crop_subsampling-2.jpg" alt="None" width="300" height="200">
    </div>
    <div class="blog-lead">
      <p>AI-augmented pipeline with Frontera yields ten-fold increase in target binding success</p>
    </div>
    <footer class="read-more">
      <a href="./news/latest-news/2023/08/03/deep-learning-for-new-protein-design/">open article</a>
    </footer>
  </article>
  <nav class=" pagination">
    <span class="current">Page 1 of 30</span>
    <a href="?page=2">Next &gt;</a>
  </nav>
</div>
</div>
