<main>
  <p>Sample body content. Footer is at bottom of page.</p>
</main>
<aside>
  <p>Unexpected content.</p>
</aside>
<footer class="s-footer s-footer--thin">
  <p>
    Sample footer content.
  </p>
</footer>
