@import url("../tools/selectors.postcss");
@import url("../tools/x-figure.postcss");
@import url("../tools/x-blockquote.postcss");

/* To style elements that have captions */
figure { @extend .x-figure; }
figcaption { @extend .x-figure-caption; }
blockquote { @extend .x-blockquote; }
blockquote footer { @extend .x-blockquote-caption; }
