<div class="x-tabs x-tabs--custom-properties">

  <input class="x-tabs__toggle" type="radio">
  <label class="x-tabs__tab x-tabs__tab--active">Tab (Active)</label>
  <label class="x-tabs__tab x-tabs__tab--hover">Tab (Hover)</label>
  <label class="x-tabs__tab x-tabs__tab--not-active">Tab (Not Active)</label>
  <div class="x-tabs__content x-tabs__content--active">
    <p>Content (Active)</p>
  </div>
  <div class="x-tabs__content">
    <p>Content (Not Active)</p>
  </div>

</div>
