@import url("./o-table-wrap--flexible-horz.postcss");
@import url("./o-table-wrap--flexible-vert.postcss");
@import url("./o-table-wrap--overflow-hidden.postcss");
@import url("./o-table-wrap--overflow-scroll.postcss");
@import url("./o-table-wrap--overflow-scroll-extra.postcss");
