<footer class="s-footer s-footer--{{ modifier }}">
  <p>
    ©2023
    <a href="https://www.tacc.utexas.edu/" target="_blank">Texas Advanced Computing Center</a>
    ,
    <a href="https://www.utexas.edu/" target="_blank">The University of Texas at Austin</a>
    ,
    <a href="https://research.utexas.edu/" target="_blank">Office of the Vice President for Research</a>
    .
  </p>
</footer>
