@import url("./c-card.selectors.css");

/* FIX CARD */

/* XXX: When migrated:
        2. Prevent these styles in apps/tup-ui TicketHistory CSS */
:--c-card p:last-child {
    margin-bottom: 2rem; /* restore <p> `margin-bottom `*/
}

/* To more specifically control c-card link font weight */
/* XXX: When migrated:
        2. Prevent these styles in apps/tup-ui TicketHistory CSS */
:--c-card a.c-button {
    font-weight: var(--bold);
}

:--c-card h4 {
    margin-bottom: 1em;
}