<dl>
  <dt>Link <small>(<code>c-tag</code> class not necessary)</small></dt>
  <dd>
    <nav class="c-tag-list">
      {{#each tags}}
        <a href="#">{{this}}</a>
      {{/each}}
    </nav>
  </dd>
</dl>

{{#> @misuse }}
  <dl>
    <dt>Nav without Links</dt>
    <dd>
      <nav class="c-tag-list">
        {{#each tags}}
          <span>{{this}}</span>
        {{/each}}
      </nav>
    </dd>
  </dl>
{{/ @misuse }}
