<section class="row row-col-stretch-content-y">
  <div class="col">
    <article class="c-card c-card--plain">
      <p>{{> @text-of-one-sentence }}</p>
    </article>
  </div>
  <div class="col">
    <article class="c-card c-card--plain">
      <p>{{> @text-of-one-paragraph-short }}</p>
    </article>
  </div>
  <div class="col">
    <article class="c-card c-card--plain">
      <p>{{> @text-of-one-paragraph-medium }}</p>
    </article>
  </div>
</section>
