<section class="row">
  <div class="col col-stretch-content-y">
    <article class="c-card c-card--plain">
      <p>{{> @text-of-one-paragraph-long }}</p>
    </article>
  </div>
  <div class="col col-stretch-content-y">
    <article class="c-card c-card--plain">
      <p>{{> @text-of-one-paragraph-medium }}</p>
    </article>
  </div>
  <div class="col col-stretch-content-y">
    <article class="c-card c-card--plain">
      <p>{{> @text-of-one-paragraph-short }}</p>
    </article>
  </div>
</section>
