<dl>

  <dt>Pure Bootstrap</dt>
  <dd><form>

  <label for="field-name">Name</label>
  <input type="text" class="form-control" id="field-name" name="name" placeholder="Jane Doe">
  <br />
  <label for="field-username">Username</label>
  <div class="input-group">
    <div class="input-group-prepend">
      <div class="input-group-text">@</div>
    </div>
    <input type="text" class="form-control" id="field-username" name="username" placeholder="Username" aria-describedby="field-username-help">
  </div>
  <small
    id="field-username-help"
    class="form-text text-muted"
  >
    Enter your username (without the "@" prefix).
  </small>
  <br />
  <label for="field-intro">Tell us about yourself</label>
  <textarea class="form-control" id="field-intro" name="intro" rows="3"></textarea>
  <br />
  <button type="submit" class="c-button c-button--primary">Submit</button>

  </form></dd>
  <dd>
  <dt>Bootstrap + Core Styles<br />
    {{> @message tag="small" type="warning" scope="inline"
        content="Avoid this <em>if possible</em> in favor of a Core-Styles–only solution. We plan to deprecate Bootstrap." }}
  </dt>
  <dd>
  <form>

  <label for="search-by-user">Best Friend</label>
  <div class="input-group">
    <div class="input-group-prepend">
      <button class="c-button c-button--secondary">Search</button>
    </div>
    <input
      type="text"
      class="form-control"
      id="search-by-user"
      name="search-by-user"
      placeholder="Username"
      aria-describedby="search-by-user-help"
    >
  </div>
  <small
    id="search-by-user-help"
    class="form-text text-muted"
  >
    Search for your friend by username.
  </small>

  </form></dd>

</dl>
